<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nader" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
   <name>Nader</name>
  <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/naderr7/cordova-plugin-nader.git</repo>
    <issue>https://github.com/naderr7/cordova-plugin-nader/issues</issue>
    <platform name="ios">
        <js-module src="www/naderr.js" name="naderr">
            <runs/>
            <clobbers target="cordova.plugin.nader" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="naderPlugin">
                <param name="ios-package" value="naderPlugin" onload="true" />
            </feature>
        </config-file>         
        <source-file src="src/ios/libepos2.a" framework="true"/>
        <header-file src="src/ios/ePOS.h" framework="true"/>
        <source-file src="src/ios/naderr.h" />
        <source-file src="src/ios/naderr.m" />
        
        <framework src="ExternalAccessory.framework" />

        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.epson.escpos</string>
            </array>
        </config-file>
        
        
    </platform>
</plugin>
